*{
    box-sizing: border-box;
    font-family: 'Grandstander', cursive;
    
}


.container{
    width: 80%;
    margin: 0 auto
}

#message{
    margin-top: 100px;
    text-align: center;
}
.game-field{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 200px;
    height: 200px;
    margin: 50px auto;
    
}

.cell{
    border: 1px solid #000;
}

.cell__btn{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #fff;
    border: none;

    font-size: 40px;
}

.cell__btn:hover{background-color: lavender;}

.btn-reload{
    display: block;
    margin: 0 auto 20px auto;
    width: 150px;
    height: 40px;
    font-size: 18px;
    
    cursor: pointer;
    background-color: lavenderblush;

    border-radius: 15px;
    
}

.btn-reload:hover{
    background-color: lavender;
}