*{
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto
}
.game-field{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 200px;
    height: 200px;
    margin: 50px auto;
    
}

.cell{
    border: 1px solid #000;
}

.cell__btn{

    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #fff;
    border: none;

    font-size: 40px;
    font-family: 'Grandstander', cursive;
}